blis==0.7.9
cymem==2.0.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
numpy==1.24.3
packaging==23.1
pandas==2.0.2
pdfminer.six==20201018
requests==2.31.0
six==1.16.0
smart-open==6.3.0
sortedcontainers==2.4.0
spacy~=3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
plotly~=5.15.0
transformers~=4.30.2
nltk~=3.8.1
scikit-learn~=1.2.2
pypdf2~=3.0.1